# Ignore the mac-specific files in all folders
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Dont save any catached files
**/__pycache__/

# Cached files from Sublime Text
._*
**/._*

# Dont save data (might be a lot of data)
data/*

# Dont save all models, just specific ones
models/*

